<!-- Header Start -->

<header class="navigation">
  <div class="header-top ">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-4 col-md-4">
          <div class="header-top-banzai text-center text-lg-left text-md-left">
            <a href="https://banzaihonda.com.br/" target="_blank">
              <i class="ti-home"></i><span>Ir para o Portal Banzai</span>
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 text-center text-lg-right text-md-right">
          <div class="header-top-info">
            <a href="#">
              <i class="fa fa-map-marker" aria-hidden="true"></i><span>Encontre uma concessionária</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope mr-2"></i><span>Fale conosco</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar py-4" id="navbar">
    <div class="container main">
      <img src="../assets/images/logo.png" alt="">

      <div class="central-atendimento">
        <a href="tel:+553131231234">
          <span>central de atendimento</span><br />
          <span>(31) 3123-1234</span>
        </a>
      </div>
    </div>
  </nav>
</header>
<!-- Header Close -->

<div class="main-wrapper ">

  <!-- Section Main Start-->
  <section class="bg-1">
    <img src="../assets/images/bg/home-2.png" alt="">
  </section>
  <section class="bg-2">
    <img src="../assets/images/bg/home-2-1-cell.png" alt="">
    <img src="../assets/images/bg/home-2-2-cell.png" alt="">
  </section>
  <!-- Section Main End-->

  <!-- Form Contato Start-->
  <div class="form">
    <form>
      <div class="icons">
        <div class="row">
          <div class="col-lg-2 col-md-2">
            <img src="../assets/images/bg/icon-form.png" alt="">
          </div>
          <div class="col-lg-10 col-md-6">
            <span>
              Solicitar um <br>
              <span class="destaque">Contato</span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="name" class="form-control" id="InputName" placeholder="Nome">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="InputEmail" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" id="InputTel" placeholder="Telefone">
      </div>
      <div class="form-group">
        <select id="inputHorario" class="form-control">
          <option selected>Escolha o horário</option>
          <option>Manhã</option>
          <option>Tarde</option>
          <option>Noite</option>
        </select>
      </div>
      <div class="form-group">
        <select id="inputUnidade" class="form-control">
          <option selected>Escolha a unidade</option>
          <option>Contorno</option>
          <option>Pampulha</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Agendar Test Drive</button>
    </form>
  </div>
  <!-- Form Contato End -->
  
  <!-- Section Desc Civic Start -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-8">
          <div>
            <h2>A emoção de dirigir leva você mais longe</h2>
            <div class="row">
              <div class="col-lg-3 col-md-6 honda-civic">
                <div><img src="../assets/images/bg/home-3.png" alt="civic image 3"></div>
                <div><img src="../assets/images/bg/home-4.png" alt="civic image 4"></div>
                <div><img src="../assets/images/bg/home-5.png" alt="civic image 5"></div>
              </div>
              <div class="col-lg-9 col-md-6 honda-civic-2">
                <img src="../assets/images/bg/home-6.png" alt="civic image 6">
              </div>
            </div>
            <p class="desc-civic">
              O novo Civic Geração 10 traz um design único mudando a categoria de sedãs paa sempre.
              Ele garante a melhor dirigibilidade com o máximo em sofisticação e conforto,
              atribuído por seu design interno e
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Desc Civic End -->

  <!-- section Inside Civic Start -->
  <section class="section">
    <div class="inside-civic">
      <img src="../assets/images/bg/home-7.png" alt="">
    </div>
    <div class="inside-civic-cell">
      <img src="../assets/images/bg/home-7-1-cell.png" alt="">
    </div>
  </section>
  <!-- section Inside Civic End  -->

  <!-- Section Carousel Start -->
  <section class="section carousel">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-8">
          <div id="mainSlider" class="carousel" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-1.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Direção com Assitência</span>
                      <p class="card-text">
                        Sistema de estabilidade que reforça automaticamente o retorno da direção,
                        auxiliando o motorista em situações onde o carro está ameçado de instabilidade.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-2.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Vidros elétricos com subida</span>
                      <p class="card-text">
                        Todas as postas possuem vidros elétricos com a função "um toque" e sistema de segurança
                        antiesmagamento.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-3.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Câmbio CVT com Paddle Shift</span>
                      <p class="card-text">
                        O câmbio com transmissão CVT de 7 velocidades com Paddle Shift (aletas)
                        proporciona conforto ao trocar de marchas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-3.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Vidros elétricos com subida</span>
                      <p class="card-text">
                        Todas as postas possuem vidros elétricos com a função "um toque" e sistema de segurança
                        antiesmagamento.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-1.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Câmbio CVT com Paddle Shift</span>
                      <p class="card-text">
                        O câmbio com transmissão CVT de 7 velocidades com Paddle Shift (aletas)
                        proporciona conforto ao trocar de marchas.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-2.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Direção com Assitência</span>
                      <p class="card-text">
                        Sistema de estabilidade que reforça automaticamente o retorno da direção,
                        auxiliando o motorista em situações onde o carro está ameçado de instabilidade.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-2.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Direção com Assitência</span>
                      <p class="card-text">
                        Sistema de estabilidade que reforça automaticamente o retorno da direção,
                        auxiliando o motorista em situações onde o carro está ameçado de instabilidade.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-3.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Vidros elétricos com subida</span>
                      <p class="card-text">
                        Todas as postas possuem vidros elétricos com a função "um toque" e sistema de segurança
                        antiesmagamento.
                      </p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="border-img-card">
                      <img src="../assets/images/bg/home-carousel-1.png" alt="civic image 3">
                    </div>
                    <div class="card-body">
                      <span class="title-card">Câmbio CVT com Paddle Shift</span>
                      <p class="card-text">
                        O câmbio com transmissão CVT de 7 velocidades com Paddle Shift (aletas)
                        proporciona conforto ao trocar de marchas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <ol class="carousel-indicators">
              <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
              <li data-target="#mainSlider" data-slide-to="1"></li>
              <li data-target="#mainSlider" data-slide-to="2"></li>
              <li data-target="#mainSlider" data-slide-to="2"></li>
            </ol>

            <a href="#mainSlider" class="carousel-control-prev" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a href="#mainSlider" class="carousel-control-next" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Carousel End -->

  <!-- Section Honda Card Start -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-8">
          <div>
            <h2 class="title-honda">Pronto para ter um Honda?</h2>
            <p class="desc-honda">Conheça os últimos grandes lançamentos da honda.</p>
            <div class="row">
              <div class="card">
                <img src="../assets/images/bg/home-8.png" class="card-img" alt="Accord">
                <div class="card-body">
                  <p class="card-text">
                    Novo Honda Accord: combinação perfeita de três atributos exigidos pelo consumidor:
                    elegância, luxo e alto desempenho.
                  </p>
                  <a href="#" class="btn-card">Conheça mais</a>
                </div>
              </div>
              <div class="card">
                <img src="../assets/images/bg/home-9.png" class="card-img" alt="Accord">
                <div class="card-body">
                  <p class="card-text">
                    O City está muito mais moderno e esportivo. Com design único e mais tecnológico do que nunca,
                    ele vai conquistar todos os olhares.
                  </p>
                  <a href="#" class="btn-card">Conheça mais</a>
                </div>
              </div>
              <div class="card">
                <img src="../assets/images/bg/home-10.png" class="card-img" alt="Accord">
                <div class="card-body">
                  <p class="card-text">
                    Com seu design inconfundível, o novo Honda Fit traz novidades que vão supreender a
                    todos e atrair ainda mais fãs.
                  </p>
                  <a href="#" class="btn-card">Conheça mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Honda Card End -->

  <!-- footer Start -->
  <footer class="footer section">
    <div class="row footer-top">
      <div class="col-lg-6 col-md-6 col-sm-12" id="btn-encontre-concessionaria">
        <a href="https://www.google.com.br/maps/search/honda+banzai/" target="_blank" class="btn">
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="col-lg-10 col-md-6">
              <span>
                Encontre uma
                <span class="destaque">Concessionária</span>
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="tel:+553131231234" class="btn">
          <div class="row">
            <div class="col-lg-12">
              <span class="txt-atendimento">
                Central de atendimento
                <span class="contato-destaque">(31)3123-1234</span>
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="siga">
          <h4>Siga a Banzai nas redes sociais</h4>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="list-inline footer-socials">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/BanzaiHonda/"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/honda/"><i class="ti-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/honda"><i class="ti-twitter-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-btm pt-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="../assets/images/logo.png" alt="logo banzai" class="banzai-logo">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="ibama">
            Todos juntos fazem um trânsito melhor <img src="../assets/images/bg/home-11.png" alt="ibama image">
          </div>
        </div>

      </div>
    </div>
  </footer>

</div>
<router-outlet></router-outlet>